/* all app scss styles here */

@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/utilities";



@media #{$small-up} { // mobile screens

	body{
		background-color: $background;
		font: 26px/22px $body;
		height: 100%;
		color: $text-color;
	}

	a{
		font: $body;
		color: $white;
	}

	img{
		display: block;
		margin: auto;
	}

	header{
		height: 100px;
		img{
			margin: 0.5em auto;
		}
	}

	.stuck{
		background-color: $header-transparent;
		position: fixed;
		z-index: 9000;
		width: 100%;
		@include single-box-shadow;
		@include transition-property(height);
		@include transition-duration(0.5s);
	}
	

	h1{
		font: 3em/1em $header-font;
		color: $white;
		&:first-child{
			margin: 0.5em 0;
		}
	}

	h2{
		font: 1.5em/1em $subheader;
		color: $white;
		margin: 0.5em 0;
		text-align: center;
		.pull-quote{
			@include transition(all);
		}
	}

	.subheader{
		font: 1.5em/1em $italics;
		color: $italic-color;
		&:first-child{
			margin: 1em;
		}
	}

	.pull-quote{
		font: 1.5em/1em $italics;
		color: $italic-color;
		margin: 1em 0;
		padding: 1em;
		background-color: darken($background, 25%);
	}

	.dropcap{
		float:left;
		font-size: 5.5em;
		line-height: 1em;
		padding-right: 0.2em;
		padding-top: 0em;
	}
	

	section{
		margin: 0 auto;
		padding: 0 0.5em;
	}

	#One{
		min-height: 550px;
		background: 0 50% no-repeat fixed url('../images/Apocalypse2.jpg');
		background-size: cover;
	}

	#Two{
		padding: 1em 0;
		background-color: darken($background, 20%);
		h2{
			margin: 0.2em 0;
		}
		.subheader{
			font-size: 50%;
			line-height: 50%;
			text-align: center;
			margin-top: 0em;
			margin-bottom: 2em;
		}
		.pull-quote{
			display: none;
		}
		img:nth-child(2){
			height: 150%;
			width: 150%;
		}
	}

	#Three{
		padding: 1em 0;
		min-height: 400px;
		background-color: darken($background, 30%);
		p{
			margin-bottom: 0rem;
		}
		p:nth-child(3){
			@extend .pull-quote;
			font: 0.6em $italics;
			text-align: right;
			margin: 0em auto 1em auto;
		}
	}

	#Sign-Up{
		padding: 1em 0;
		min-height: 300px;
		background-color: darken($background, 40%);
		h2{
			text-align: center;
		}
		form{
			margin: 0.5em 0;
		}
	}

	.portrait{
		@include border-radius(50px);
	}

	.button-group{
		text-align: center;
		margin: 0em auto;
		border-top: 1px solid $white;
		.button.social{
			padding-right: 1rem;
			padding-left: 1rem;
			width: 50px;
			height: 50px;
			@include border-radius(25px);
			display: inline-block;
		}
	}

	input{
		width: 100%;
		padding: 0.5em;
	}

	.button{
		width: 100%;
		background-color: darken($background, 60%);
		border-color: none;
		margin: 0.5em 0;
		font: 1em/1em $body;
		&:hover,&:active{
			background-color: darken($background, 75%);
		}
	}
	.fine-print{
		padding: 1em;
		font: 0.5em $sans-serif;
		text-align: center;
		color: $white;
	}

	footer{
		background-color: darken($background, 70%);
		color: $white;
		min-height: 200px;
	}


}

@media #{$large-only} { // desktop screens
	#One{
		min-height: 400px;
	}
}
